
  
  /* Asset card enhancements */
  .asset-card {
    background-color:#FCFEFF !important;  /* Subtle gradient */
    border-radius: 15px;  /* More pronounced rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1) !important;  /* Soft shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Smooth transition for hover */
  }
  
  .asset-card:hover {
    transform: scale(1.02);  /* Slight zoom effect on hover */
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);  /* Increase shadow depth on hover */
  }


  
  /* Title styling */
  .port-title {
    font-family:poppins !important;
    font-weight:400;
    font-size: 2rem;
    letter-spacing: 1px;
    color: black ; 
  }
  
  /* Center the 'No assets found' message */
  .no-assets-message {
    font-style: italic;
    font-size: 1.2rem;
    color: #6b7280; /* Light gray for subtle emphasis */
  }
  .asset-card h2 {
    color: #232A32; /* Blue Charcoal for headings */
  }
  body {
    background-color:#E6E6E6 !important; /* Platinum background color */
  }

  .title-divider{
    color:black;
  }