/* home.css */

/* Custom color variables */
:root {
  --deep-koamaru: #2C2D63;
  --blue-charcoal: #232A32;
}

/* General background color */
body {
  background-color: #f8fafc;
}

.container{
  padding-top:2 !important;
}

/* Header styling */
header {
  background-color: var(--blue-charcoal);
}

h1 {
  font-family:poppins !important;
  color: white;
  margin-bottom:0 !important;
 
}

/* Button styling */
.home-button {
  padding: 0.35rem 1rem;
  font-size: 1.185rem;
  border-radius: 0.3rem;
  background-color: var(--deep-koamaru);
  color: white;
  border: none;
  font-weight:semi-bold;
  transition: background-color 0.3s ease, transform 0.2s;
  font-family:poppins !important;
}

.home-button:hover {
  background-color: lightgray;
  transform: translateY(-1px);
}

/* Card styling */
.shadow {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
